/*************************************/
/*@media Queries*/
@media screen and (max-width: 807px){
	#search{
	visibility: hidden;
	display: none;
	}
	#search-back{
	visibility: hidden;
	display: none;
	}
	#head1{
		visibility: hidden;
	display: none;
	}
	#head2
	{
		visibility: hidden;
		display: none;

	}
}
@media screen and (max-width: 1050px){
	
	.artist-img{
		width: 100px !important;
		height: 100px !important;
		/*border: 1px solid yellow;*/
		margin: 10px 10px !important;
		box-shadow: inset 2px 2px 5px 2px #131C44;
		border-radius: 50%;
	}
	
	.artist-content{
		margin: 0% 0% 0% 0% !important;
		width: 100% !important;
		
	}
	.artist-name{
		margin-top: -10px !important;
		margin-left: 117px !important;
	}

	.origin{
		margin-top: 5px !important;
		margin-left: 117px !important;
	}
	.artist-desc{
		margin-top:25px !important;
	}
}

@media screen and (max-width: 535px){
	.similar-pic{
	visibility: hidden;
	display: none;
	}
	.similar-song-desc{
		margin-left: 7px !important;
	}
	.similar-side{
		left: 78% !important;
		margin-top: 13px !important;
	}
	.ind-song-img{
		display: none;
	}
	.ind-song-desc{
		margin-left: 20px !important;
		
	}
	.rec-song-img{
		display: none;
	}
	#fav{
		left: 180px !important;
	}
}
@media screen and (max-width: 465px){
	.artist-name{
		font-size: 0.95rem !important;
	}
	.origin{
		font-size: 0.6rem !important;
	}
}

/*mediaquery MP*/

@media screen and (max-width: 1225px){
	.time-start{
		left:7% !important;
	}
}
@media screen and (max-width: 995px){
	
	.time-start{
		display: none;
	}
	.time-end{
		display: none;
	}
}
@media screen and (max-width: 890px){
	
	.like-block-layout{
		width: auto !important;
	}

	.frwd-btn{
		position: absolute;
		top: 5px;
		left: 58% !important;
		right: 40%;
	}
	.rpt-btn{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 65% !important;
	}
}

@media screen and (max-width: 448px){
	
	.sound-line-layout{
		visibility: hidden;
		display: none;
	}
	.screen-size{
		margin-left: -10px !important;
	}
}


/**************************************************/

/*Upper*/
.upper{
	display: inline-block;
	margin-top: 70px;
	margin-left: 35px;
	height: 260px;
	width: 95%;
	position: relative;
}

/*************************************/
/*Artist Detail*/

.artist-detail{
	margin-top: 5px;
	margin-left: 15px;
	height: 250px;
	width: 60%;
	background-color: #131C44;
	position: absolute;
}

.artist-img{
	height: 250px;
	margin: 0px 0px;
	width: /*30%*/200px;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	position: absolute;
	

}

.weekend-img{
	background-image: url(images/pic2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}
.tint{
	width: 100%;
	height: 100%;
	background-image: radial-gradient(farthest-corner at 100px 55px,transparent 40%, rgba(19, 28, 68,0.1) 50%, #131C44);
}

.artist-content{
	margin: 0% 0% 0% 35%;
	width: 65%;
	height: auto;
}
.artist-name{
	margin-top: -20px;
	margin-left: 1%;
	font-weight: 600;
	font-size: 2rem;
}

.origin{
	margin-top: 10px;
	margin-left: 1%;
	font-weight: 300;
	font-size: 0.8rem;
	color: #8B8DA4;
}

.follower{
	display: inline-block;
	margin-top: 35px;
	margin-left: 79%;
	font-weight: 300;
	font-size: 0.8rem;
	color: #8B8DA4;
}

.artist-desc{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 1%;
	width: auto;
	height: 50px;
	overflow-wrap: break-word;
	font-weight: 300;
	font-size: 0.7rem;
	color: #8B8DA4;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.btn-grp{
	margin-top: 8px;
	margin-left: 1%;
	width: 180px;
	height: 35px;
	display: inline-flex;
	flex-wrap: wrap;
	position: relative;
}
.btn-grp input{
	color: white;
	background-color: transparent;
	border: none;
	font-size: 0.9rem;
	font-weight: 550;
	outline: 0;
}
.play-btn{
	width: 122px;
	height: 35px;
	background-image: linear-gradient(to right, #3E30B7, #C45AE2);
}

.follow-btn{
	position: absolute;
	left: 135px;
	width: 88px;
	height: 35px;
}
.art-detail{
	font-size: 0.7rem;
	font-weight: 300;
	margin-left: 1.2%;
	margin-top: 4px;

}

/*************************************/
/*Similar Artist*/

.similar-artist{
	height: 290px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 65%;
	width: 33%;
	position: absolute;
}

.similar-head{
	width: 100%;
	height: 20px;
	display: flex;
}
.sim-head{
	width: auto;
	height: 20px;
}
.similar-view-all{
	position: absolute;
	top: 3px;
	left: 85%;
	height: 18px;
	width: auto;
	font-size: 0.7rem;
	color: #939EBC;
}
.similar-card{
	margin-top: 5px;
	width: 100%;
	height: 27.5%;
}
.similar-pic{
	width: 15%;
	height: 93%;
}
.sim-img{
	background-image: url(images/pic1.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 3px 5px 1px #5C969A;
	display: inline-block;
}
.similar-song-desc{
	position: absolute;
	height: auto;
	width: auto;
	display: inline-block;
	margin-left: 30px;
	margin-top: 13px;
}
.song-name{
	top: 37px;
	left: 30%;
	width: 54px;
	height: 19px;
	color: white;
	font-size: 0.9rem;
}	
.song-artist{
	margin-top: 6px;
	font-size: 0.75rem;
	color: #939EBC;
}
.similar-side{
	position: absolute;
	left: 90%;
	margin-top: 3px;
	display: inline-block;
	height: auto;
	width: 20px;
}
.sim-side-ico{
	left: 50%;
	color: #939EBC;
}
.sim-side-duration{
	font-size: 0.75rem;
	color: #939EBC;
}

/**************************************************/

/*Lower*/
.lower{
	display: inline-block;
	margin-top: 10px;
	margin-left: 47px;
	width: 92%;
	height: 300px;
	position: relative;
}

/*************************************/
/*Songs List*/

.song-list{
	margin-top: 0px;
	margin-left: 0px;
	height: 300px;
	width: 62.4%;
	display: inline-block;
	position: absolute;
}
.active-list{
	background-color: #21243B !important;
}
.individual-list{
	position: relative;
	width: 100%;
	height: 18%;
	margin-bottom: 5px;
	display: flex;
	background-color: #1B1F36;
}

.sno{
	font-size: 0.8rem;
	color: #939EBC;
	height: 100%;
	width: 25px;
	margin-left: 1%;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	align-items: center;
}
.ind-song-play{
	color: #1FA062;
}
.ind-song-img{
	position: relative;
	margin-left: 2.5%;
	width: 40px;
	height: 85%;
	align-self: center;
}
.fade{
	width: auto;
	height: 100%;
	background-color: white;
	opacity: 0.2;
}
.play-up{
	position: absolute;
	top: 32%;
	left: 35%;
	display: flex;
	justify-content: center;
	align-self: center;
	align-content: center;
	align-items: center;
	z-index: 5;
}
.ind-img-1{
	background-image: url(images/pic2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0.5px 0.5px 4px 3px #222433;

}
.ind-img-2{
	background-image: url(images/pic1.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0.5px 10px 2px #4A2327;
}
.ind-img-3{
	background-image: url(images/pic2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0.5px 10px 2px #343434;
}
.ind-img-4{
	background-image: url(images/pic1.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0.5px 10px 2px #12244B;
}
.ind-img-5{
	background-image: url(images/pic2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0.5px 10px 2px #4C7281;
}
.ind-song-desc{
	margin-left: 2%;
	width: 160px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.ind-song-name{
	height: 40%;
	width: 100%;
	font-size: 0.9rem;
}
.ind-name{
	margin-top: 7px;
	color: white;
}
.ind-song-artist{
	height: 40%;
	width: 100%;
	display: flex;
	align-self: center;
	align-items: center;
	font-size: 0.75rem;
	color: #939EBC;
}
.art-name{
	align-self: flex-start;
}
.ind-song-time{
	height: 100%;
	width: 50px;
	margin-left:6%; 

	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	align-items: center;
	font-size: 0.8rem;
	color: #939EBC;
}
.ind-like-ico{
	height: 100%;
	width: 30px;
	margin-left: 38%;
	color: #939EBC;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;

}
.ind-add-ico{
	height: 100%;
	width: 30px;
	margin-left: 2%;
	color: #939EBC;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}

/*************************************/
/*Recently Played*/

.recently-played{
	height: 370px;
	margin-top: 15px;
	margin-left: 66%;
	width: 34%;
	position: absolute;
}

.rec-play-head{
	width: 100%;
	height: 24px;
	display: flex;
}
.rec-head{
	width: auto;
	height: 24px;
}
.rec-view-all{
	position: absolute;
	top: 3px;
	left: 85%;
	height: 20px;
	width: auto;
	font-size: 0.7rem;
	color: #939EBC;
}
.rec-card{
	margin-top: 8px;
	width: 100%;
	height: 15%;
	display: flex;
}
.rec-song-img{
	position: relative;
	margin-left: 2.5%;
	width: 63px;
	height: 100%;
}
.rec-like-ico{
	height: 100%;
	width: 30px;
	margin-left: 27%;
	color: #939EBC;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
	align-items: center;
	font-size: 0.8rem;
	color: red;
}

/***************************************/
.screen-size{
	position: relative;
	height: 100%;
	width: 1.5%;
	display: inline-block;
}
.resize{
	position: absolute;
	height: 30%;
	width: 90%;
	top: 25%;
	display: inline-block;
	margin-left: 5%;
	color: #909173;
}
.white{
	color: white;
}